fastapi==0.115.0
uvicorn[standard]==0.32.0
google-auth==2.35.0
google-cloud-firestore==2.19.0
pydantic-settings==2.6.0
pyjwt==2.9.0
python-dotenv==1.0.1
sqlalchemy==2.0.52
psycopg[binary]==3.3.5
email-validator==2.3.0
python-multipart==0.0.32
google-cloud-storage==2.18.2
